.genre-page-container {
    background-color: #141414;
    min-height: 100%;
    width: 100%;
    color: white;
    font-size: 11px;
    padding-bottom: 55px;
}
.genre-page-header {
    color: white;
    position: fixed;
    top: 68px;
    padding-left: 4%;
    font-size: 2vw;
    z-index: 3;
    background-color: #141414;
    width: 100%;
}

.genre-shows-list {
    padding-top: 160px;
    
}

