.priv-header {
    height: 68px;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #141414;
    display: flex;
    transition: 0.3s;
    padding: 0 4%;
    align-items: center;
    justify-content: space-between;

}

.priv-header-left {
    height: 100%;
    width: 60%;
    display: flex;
}

.priv-nflogo {
    height: 50%;
}

.priv-header.at-top {
    background-color: transparent;
    transition: 0.3s;
}
.priv-logo-container{
    height: 100%;
    display: flex;
    align-items: center;
}


.priv-nav-bar {
    padding-inline-start: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 50%;
}

.priv-nav-bar > a {
    /* padding: 0 10px; */
    text-decoration: none;
    color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.priv-nav-bar > a.active {
    color: white;
    font-weight: 700;
    cursor: default;
}

.priv-header-resources .profile-dropdown {
    size: 40px 40px;
}
.priv-header-resources .profile-dropdown {
    max-width: 100%;
    max-height: 100%;
}
.item {
  height: 100px;
  background: red;
  margin: 10px;
}

.genre-container {
    width: 100%;
    margin: 10px 0;
    padding: 0 4%;
    height: 130px;
    background-color: #141414;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.genre-container.active {
    background-color: red;
}

.show-container {
    position: relative;
    height: 100%;
    background-color: blue;
    transition: 250ms;
}

.show-container .title-card {
    height: 100%
}

.show-container.hovered {
    height: 150%;
    transition-duration: 400ms;
}

.show-interface {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.show-quick-interface {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.show-info .play-icon {
    height: 30px;
    width: 30px;
    transition: 200ms;
}
.show-info .play-icon:hover {
    height: 32px;
    width: 32px;
    transition: 200ms;
}

.show-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2px;
}
.show-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 2px;
    align-items: flex-end;
}

.show-actions img {
    height: 25px;
    width: 25px;
    transition: 200ms;
    cursor: pointer;
    margin: 2px 0;
}

.show-actions img:hover {
    height: 27px;
    width: 27px;
    transition: 200ms;
}

.show-video-player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}